plot_a_f_by_countries.pdf
plot_a_f_by_countries2.pdf
plot_a_f_by_countries3.pdf
plot_a_f_by_countries4.pdf
plot_a_f_by_countries5.pdf
sust_sources__signif_ggplot.png
sust_sources_correlationplot.pdf
sust_sources_ggplot.png
food_nutri_correlationplot.pdf
~$adme_bitbucket.docx
~WRL3158.tmp
.Rhistory